.container {
}
.containerDos {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 99, 0, 0.11) 0%, #6ddba1 100%);
  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.container {
  height: 100vh;
  margin: 0;
}
.homeLabelText {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.text {
  text-align: center;
  margin: 15px;
  font-size: 2.7rem;
  color: black;
}
.textTall {
  color: black;
  margin: 0;
  text-align: center;
  width: 65%;
  text-align: justify;
  text-justify: inter-word;
}
.descriptionHome{
  a {
    text-decoration:underline ;
    cursor: pointer;
    color: white
  }
  }

/* For presentation only, no need to copy the code below */

.container * {
  position: relative;
}

.container *:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
